<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879033421389-pvg1a6sunoomo806idonqqnvnm48nl2k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879033421389-pvg1a6sunoomo806idonqqnvnm48nl2k</string>
	<key>API_KEY</key>
	<string>AIzaSyDKzAnZY6Hh_2lZ82wqIVRdVJSRcGa4fZE</string>
	<key>GCM_SENDER_ID</key>
	<string>879033421389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almusand.haleemh</string>
	<key>PROJECT_ID</key>
	<string>halimasitter</string>
	<key>STORAGE_BUCKET</key>
	<string>halimasitter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:879033421389:ios:d516c524608372dbf59604</string>
	<key>DATABASE_URL</key>
	<string>https://halimasitter-default-rtdb.firebaseio.com</string>
</dict>
</plist>
